# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test / Verification Output Screenshots
screenshot.png
test_init.png
test_closing.png
test_moving.png
test_arrived.png
